extends layout

block content
  h1= "Testing SVG"    

  form(action=".", method="post", enctype="multipart/form-data")
    div
      label(for="svg-file")= "Drop file(s) here, or click to browse... (max 10)"
      input(type="file", name="svgFile", multiple, id="svg-file", accept="image/svg")
  
  if(svgFile != null)
    p= "Sizes (px): 392,196,143,98,49,35,24.5,17"
    each file in svgFile 
      div(class="single")
        h2= file.originalfilename
        h4= "<img src... >"    
        each val in [392,196,143,98,49,35,24.5,17]
          img(src="data:image/svg+xml,#{encodeURIComponent(file.data)}",alt="width:#{val}px",title="width:#{val}px",style="width:#{val}px")
        hr
        h4= "<svg ...><use ... >"    
        each val in [392,196,143,98,49,35,24.5,17]
          != file.data.replace('<svg ','<svg style="width:'+val+'px" title="width:'+val+'px" ')
        hr
  
